body {
    background-color: black;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;

}

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    letter-spacing: 4px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.card {
    cursor: pointer;
    z-index: 1;
    width: 45%;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
}

.card--light {
    background-color: #f5f5f5;
    color: #111;
}

.card--light .card__feature {
    background-color: gold;
}

.card--dark {
    background-color: darkslategrey;
    color: white;
    border: 2px dashed red;
}

.card--dark .card__feature {
    background-color: red;
}

.card__image {
    max-width: 100%;
    max-height: 460px;
    overflow: hidden;
    margin-bottom: 10px;
}

.card__feature {

    display: inline-block;
    margin: 10px 0;
    font-size: 12px;

    border-radius: 20px;
    padding: 10px;
    position: relative;
}

.card__feature::after {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 3px;
    left: 3px;
    content: "";

    border-radius: 20px;
}

.card--light .card__feature::after {
    background-color: goldenrod;
}

.card--dark .card__feature::after {
    background-color: brown;
}


/* Стили для медиа-запросов */

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 20px;
    }
}

.card__button {
    display: block;
    margin: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 44px;
    cursor: pointer;
}

.card__button:hover {
    transform: scale(1.1);
    transition: 0.3ms;
}

.card__button--danger {
    background-color: black;
    color: white;
}

.card__button--danger:hover {
    box-shadow: red 0 0 300px;
}

.card__button--opposite:hover {
    box-shadow: gold 0 0 300px;
}

.card__button--opposite {
    background-color: skyblue;
    color: white;
}